h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}
.wrapper-title {
    background-color: antiquewhite;
    border-radius: 15px;
    width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
}
.wrapper-blok {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: brown;
}
.block-1, .block-3 {
    background-color: azure;
}
.block-2 {
    background-color: red;
}
.item-block {
    margin: 10px 10px;
    text-align: center;
}
.wrapper-menu {
    width: 600px;
    background-color: aquamarine;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
}
.link-item {
    background-color: blanchedalmond;
    padding: 10px;
    text-decoration: none;
    border: 1px solid;
}
